/* Custom Properties */
:root {
    /* backgorund colors */
    --bg-orange: rgb(255, 106, 0);
    --bg-black: rgb(26, 26, 26);
    --bg-white: white;

    /* Text colors */
    --tx-white: white;
    --tx-black: black;
    --tx-gray: rgb(125, 130, 133);
    --tx-red: red;

    /* Margin */
    --mr-sm: 5px;
    --mr-md: 10px;
    --mr-lg: 15px;

    /* Padding */
    --pd-xs: 5px;
    --pd-sm: 10px;
    --pd-md: 25px;
    --pd-lg: 50px;
    --pd-top-btm-sm: 20px 0;
    --pd-top-btm-md: 25px 0;
    --pd-top-btm-lg: 50px 0;
    --pd-header: 80px;
}

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

/* Utility */
.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.absolute {
    position: absolute;
    z-index: 5;
}

/* Header */
.header {
    background-color: var(--bg-orange);
    height: var(--pd-header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    /* 3D-style */
    border-bottom: 3px solid rgb(200, 60, 0);
    box-shadow: inset 0 -1px 0 rgba(255, 200, 150, 0.6);

}

.header-content {
    padding: var(--pd-top-btm-md);
    justify-content: space-between;
    align-items: center;
}

.navbar,
.logo,
.header-icons {
    flex-basis: 30%;
}

.navbar-list a {
    color: var(--tx-white);
    font-weight: 600;
}

.navbar-list {
    gap: 15px;
}

.logo {
    text-align: center;
}

.logo img {
    height: 30px;
}

.header-icons {
    text-align: right;
    color: var(--bg-white);
}

/* Main */
/* Grid */

#grid {
    padding: calc(var(--pd-lg) + var(--pd-header)) 0 var(--pd-md);
}

.content-grid {
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    width: 30%;
    margin-bottom: 50px;
}

.card {
    position: relative;
    flex-direction: column;
}

/* Images labels */
.heart {
    right: 0;
    top: 10px;
    padding: 0 10px;
    background-color: var(--bg-white);
    font-size: 2rem;
    text-align: center;
}

.heart:hover {
    color: red;
    cursor: pointer;
}

.discount {
    bottom: 30px;
    left: 0;
    background-color: red;
    color: var(--tx-white);
    padding: 5px 10px;
    font-size: 12px;
}

.sustainability {
    bottom: 30px;
    left: 0px;
    background-color: green;
    color: var(--tx-white);
    padding: 5px 10px;
    font-size: 12px;
}

.discount+.sustainability {
    left: 50px;
}

/* Product description */
.product-description {
    width: 100%;
    padding: 5px 0;
    line-height: 19px;
}

.brand {
    color: var(--tx-gray);
    font-size: 12px;
}

.product {
    font-size: 16px;
}

.price {
    color: var(--tx-red);
    font-weight: 600;
    font-size: 14px;
}

.original-price {
    color: var(--tx-gray);
    text-decoration: line-through;
    margin-left: var(--mr-sm);
}

/* Images hover effects */
.img-default,
.img-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.img-default {
    z-index: 2;
    opacity: 1;
}

.img-hover {
    z-index: 1;
    opacity: 0;
}

.card:hover .img-hover {
    opacity: 1;
    z-index: 3;
}

.card:hover .img-default {
    opacity: 0;
    z-index: 1;
}

.img-wrapper {
    position: relative;
    width: 100%;
    padding-top: calc(924 / 640 * 100%);
    overflow: hidden;
}

/* Footer */
.footer {
    background-color: var(--bg-black);
    height: 100px;

}

.footer-content {
    justify-content: space-between;
    align-items: center;
    padding: var(--pd-top-btm-sm);
}

.legal-section {
    color: var(--tx-white);
}

.legal-content {
    margin-top: var(--mr-md);
    gap: 10px;
    font-size: 12px;
}

.social-section {
    color: var(--tx-white);
    text-align: center;
}

.social-findme {
    font-size: 12px;
}

.social-icons {
    margin-top: var(--mr-md);
}