/* Custom properties */
:root {
    /* backgorund colors */
    --bg-gray: rgb(247, 247, 247);
    --bg-white: white;

    /* Text colors */
    --tx-blue: #2E45CC;
    --tx-green: #04DF6C;
    --tx-black: #3D3A38;


    /* Margin */
    --mr-sm: 10px;
    --mr-md: 25px;
    --mr-lg: 50px;

    /* Padding */
    --pd-xs: 5px;
    --pd-sm: 10px;
    --pd-md: 25px;
    --pd-lg: 50px;
    --pd-top-btm-xs: 10px 0;
    --pd-top-btm-sm: 15px 0;
    --pd-top-btm-md: 25px 0;
    --pd-top-btm-lg: 50px 0;
    --pd-top-btm-xl: 100px 0;
    --pd-header: 100px;
}

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    /* font */
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--tx-black);
}

main,
footer {
    /* font */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.24;
    color: var(--tx-black);
}

/* Utility */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.col-30 {
    width: 30%;
}

.col-45 {
    width: 45%;
}

main {
    padding-top: var(--pd-header);
}

.justify-content-sb {
    justify-content: space-between;
}

.justify-content-sa {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

/* Header */

.header {
    height: var(--pd-header);
    background-color: var(--bg-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.header-content {
    padding: var(--pd-top-btm-sm);
}

.navbar-content {
    gap: 25px;
}

.home {
    color: var(--tx-blue);
}

/* Main */

/* Hero */
.hero {
    max-height: 560px;
}

.rubber-duck-bg {
    width: 50%;
}

.page-title {
    width: 50%;
    background-image: url(../img/banner-bg.png);
}

.page-title>* {
    margin: 0 auto;
    margin-top: var(--mr-md);
}

.hero-title {
    width: 80%;
    font-size: 4rem;
}

.hero-paragraph {
    width: 60%;
    font-size: 1.5rem;
}

.buy-now {
    display: block;
    width: 40%;
    font-size: 1.2rem;
    border: 2px solid var(--tx-black);
    padding: 15px 20px;
}

/* Product description */

.product-description {
    padding: var(--pd-top-btm-xl);
}

.description-title {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
}

.description-paragraph {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    margin-top: var(--mr-sm);
    margin-bottom: var(--mr-lg);
}

.capitan-duck {
    align-self: center;
}

.form-title {
    margin: 0 auto;
    font-size: 56px;
    margin-bottom: var(--mr-lg);
}

/* Feedback */
.feedback {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}

.stars {
    margin-top: var(--mr-md)
}

.feedback-author {
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-top: var(--mr-sm);
}

.swiper {
    margin-top: var(--mr-md);
}

.shop {
    background-color: var(--bg-gray);
    padding: var(--pd-top-btm-lg);
}

.shop-title {
    font-size: 48px;
}

.shop-paragraph {
    padding-top: var(--pd-md);
    padding-bottom: var(--pd-lg);
}

.item-name {
    padding: var(--pd-top-btm-xs);
    font-weight: 600;
    font-size: 24px;
}

.item-price {
    color: var(--tx-green);
    font-weight: 600;
    font-size: 24px;
}

/* FAQs */

.faq {
    padding: var(--pd-top-btm-lg);
}

.faq-title {
    font-size: 48px;
}

.faq-immage {
    margin-top: var(--mr-lg);
}

summary {
    cursor: pointer;
    list-style: none;
    margin-bottom: var(--mr-sm);
}

summary::after {
    content: " +";
    font-weight: bold;
    font-size: 1.2rem;
}

details[open] summary::after {
    content: " −";
}

details {
    margin: var(--pd-top-btm-md);
}

.faq-question {
    display: inline;
    font-size: 24px;
}

.faq-answer {
    padding-top: var(--mr-md);
    border-top: 2px solid var(--bg-gray);
}